.nome-coord{
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: -6px;
}

.desc-prog{
	margin-top:1.5px;
	margin-left: -15px;
}

.div-ficha{
	margin-top: 8px;
}

.div-msg {
	color: red;
	padding-top: 20px;
	margin-top: 20px;
}

.div-coord {
	border-bottom: 1px solid silver;
	padding: 10px 0;
}

.div-coord:nth-child(4) {
	border-bottom: none;
}


/* Campos de input */
.campos-padrao-2{
	padding: 0;
}

@media (max-width: 767px){
	.campos-padrao-2{
		width: 100%;
	}
}

@media (min-width: 768px){
	.campos-padrao-2{
		width: 60%;
	}
}
