@charset utf-8;

/* Div onde está a tabela */
@media(max-width: 767px){
	#tabela-informacoes{
		font-size: 8pt;
	}
}



/* Formatação da tabela */
#informacoes{ /* table */
	width: 100%;
}

#informacoes thead{ /* formatações do thead */
	background-color: #18A9AD; 
	color: #FFF;
	font-size: 11pt;
}

#informacoes th{ /* formatação de cada item do thead */
	padding: 10px;
}

#informacoes tbody > tr:hover { /* tr */
	 background-color: #edf2f2; 
}

#informacoes td{ /* cada td */
	padding: 10px 4px;
}	

#informacoes select, #informacoes input{
	width: 100%;
}

/* Responsividade da tabela */
@media (max-width: 767px){
	#informacoes{
		width: 100%;
		margin: 10px auto;
	}

	#informacoes th{
		font-size: 7.5pt;
		padding: 2px;
		text-align: center;
	}

	#informacoes select, #informacoes input{
		width: 100%;
	}
}

@media (min-width: 768px){
	#informacoes{
		width: 95%;
		margin: 25px auto;
	}
}


/* Formatação das tds */
.nivel{
	width:21%;	
}	

.programa{
	width:25%;	
}	

.semestre, .ano, .dt-inicial, .dt-final{
	width:13%;	
}







/* Botões */
#botoes{ /* div que contém os botões */
	text-align: right;
	margin-bottom: 15px;
}

@media (max-width: 767px){
	#botoes{
		text-align: center;
	}

	#botoes button{
		font-size: 9pt;
		display: inline-block;
		margin: 5px 0px;
	}

	#botoes input[type=submit]{
		font-size: 9pt;
		display: block;
		margin: 5px auto;
	}
}