@charset utf-8;

@media(max-width: 767px){
	.navbar-nav > li{
		font-size: 10.5pt;
	}
}

@media(min-width: 768px){
	.navbar-nav > li{
		text-transform: uppercase;
		float: right;
	}
}

/* Painel - Menu do Administrador */
#painel { /* div do painel onde ficam as opções */
	padding:0;
	text-align: center;
}

.menu-adm ul{ /* lista das opções */
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-adm ul li{ /* cada opção */
	display: inline-block;
	padding: 8px 21px;
	margin:0;
}

.menu-adm ul li:hover{ background-color: #D8D091; }

.menu-adm li.active, .menu-adm li.active-trail { background-color: #F2ECBB;}

.menu-adm a { color: #000000; }

@media (max-width: 767px){
	.menu-adm{ /* escondendo o painel com opções */
		display: none;
	}
}