#registros {
	width: 100%;
	margin:	10px 0;
}

#registros th, #registros td{
	padding: 8px 20px;
}

#registros thead {
	background-color: #18A9AD; 
	color: #FFF;
	font-size: 11pt;
}

#registros > tbody tr:hover {
	 background-color: #edf2f2; 
}

#div-busca{
    border:solid 1px gray;
    border-radius:15px;
    width:30%;
    margin: auto;
    position: relative;
}
 
#input-busca{
    background-color:transparent;
    padding:4px 8px;
    font-style:italic;
    border:none;
    width: 90%;
}

.icone-busca {
	position: absolute;
    padding:4px 8px;
	right: 0;
    color: gray;
}

.nencontrados, .nreg {
    width: 100%;    
    color: #6c787b;
    text-align: right;
    font-style: italic;
}