@charset utf-8;

/* Apresentação da página para coordenadores */
#apresentacao-coord{
	padding: 10px;
}

#apresentacao-coord h1{
	font-size: 14pt;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0;
}

@media(max-width: 767px){
	#apresentacao-coord, #buscas, #div-resultados{
		padding: 10px;
	}

	#apresentacao-coord h1{
		padding: 0;
		margin: 0;
	}
}

@media(min-width: 768px){
	#apresentacao-coord{
		text-align: center;
	}
}

/* H2 das buscas */
.h2-busca{
	cursor: pointer;
}

.h2-busca:first-child{
	margin-top: 0;
}

/* Definição dos campos de busca */
@media(max-width: 767px){
	.campos-padrao-2{
		width: 100%;
	}
}

@media(min-width: 768px){
	.campos-padrao-2{
		width: 65%;
	}
}



/* Span com a quantidade de resultados */
.qtd-resultados{
	color: #6C787B;
	padding: 5px 0;
	text-align: right;
	font-style: italic;
}

/* Botão de download dos arquivos da busca por período */
#download-arquivo{
	font-size: 10pt;
	text-align: right;
	float: right;
	margin-left: 10px;
	transition: width 0.2s;
}



/* Formatação da tabela de resultados */
#resultados{
	width: 100%;
}

#resultados thead{
	background-color: #18A9AD; 
	color: #FFF;
}

#resultados th,
#resultados td{
	padding: 10px;
}

#resultados tbody > tr{
	border-bottom: 1px solid silver;
}

#resultados tbody > tr:last-child{
	border: 0;
}

#resultados tbody > tr:hover{
	cursor: pointer;
	background-color: #edf2f2; 
}

@media (min-width: 768px){
	#div-resultados{
		margin-top: 50px;
	}
}