@charset utf-8;

a, a:hover{
	color: inherit;
}


#mi h1{
	font-size: 14pt;
	font-weight: bold;
	text-transform: uppercase;
}

@media(max-width: 767px){
	#mi{
		padding: 10px;
	}

	#mi h1{
		padding: 0;
		margin: 0;
	}
}

@media(min-width: 768px){
	#mi{
		text-align: center;
	}
}


/* Menu da página inicial*/
.mi-item:hover, .mi-item:focus{
	/*background-color: #76CACC; #4F0F0F*/
	background-color: #4F0F0F;
	color: white;
	cursor: pointer;
	transition: color 0.3s, background-color 0.3s;
}

@media(max-width: 767px){
	.mi-item{ /* cada div de opção */
		border-top: 1px solid silver;
		padding: 10px;
	}

	.mi-item .fa{
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px;
		min-width: 28px;
		text-align: center;
	}

	.mi-item .fa:hover{
		border: 1px solid white;
	}

	.mi-item .fa-key{
		display: none;
	}
}

@media(min-width: 768px){
	.mi-item{
		font-size: 13pt;
		text-align: center; 
		padding: 45px;
		border: 1px solid silver;
	}

	.mi-item .fa{
		font-size: 25pt;
		display: block;
	}

	#fa-senha{ /* span para os icones da senha permanescerem na mesma linha*/
		display: block;
	}

	#fa-senha .fa{ 
		display: inline-block;
	}
}


/* Painel */
.menu-adm{ /* escondendo o painel com opções */
	display: none;
}