@charset utf-8;

#nova-inscricao, #inscricoes{
	padding: 5px 10px 0 5px; /* top right bottom left */
}

#h2-nova-inscricao{
	cursor: pointer;
}


/* Formulário de novas inscrições */
@media(max-width: 767px){
	.campos-padrao-2{
		width: 100%;
	}
}

@media(min-width: 768px){
	.campos-padrao-2{
		width: 70%;
	}

	.label-padrao-2{
		padding-right: 0;
	}

}

#campos-numero-inscricao p{
	font-size: 9pt;
}


#select-semestre, #select-ano{ /* definindo o tamanho como automático dos dois campos para que não se expandam como os outros */
	width: auto;
}

/* Apresentação */
#apresentacao p{
	margin: 0;
	padding: 0;
	margin-top: 5pt;
	font-size: 12pt;
}

#apresentacao h1{
	text-transform: uppercase;
	font-size: 14pt;
	font-weight: bold;
}

@media(min-width: 768px){
	#apresentacao{
		text-align: center;
	}
}

/* Inscrições do candidato */
#aviso-arquivo{ /* paragrafo de aviso sobre os arquivos */
	text-align: center;
	font-weight: bold;
	font-size: 13pt;
	padding: 0;
	margin: 0;
	margin-top: 20px;
}

.inscricao{ /* div que contém as informações das inscrições */
	margin: 10px auto;
}

.inscricao-header{
	background-color: #18A9AD; /*#1D9D74;*/
	color: #FFF;
	font-size: 12pt;
	padding: 7px;
	cursor: pointer;
	/*border-top-right-radius: 10px;
	border-top-left-radius: 10px;*/
}

.botoes-carta{
	white-space: nowrap;
	text-align: center;
}

.botoes-carta button{
	background-color: transparent;
	border: 0;
	padding-right: 2px;
	padding-left: 2px;
}

.adiciona-recomendante{
	color: #D90000;
	background-color: transparent;
	border: 0;
	padding-right: 3px;
	padding-left: 3px;
}

.deleta-inscricao{
	background-color: transparent;
	border: 0;
	padding-right: 15px;
	padding-left: 15px;
}

.deleta-inscricao:focus{
	border: none;
}

.inscricoes-icone{
	cursor: pointer;
}

.inscricoes-icone{
	padding: 2px;
}

/* Responsividade da exibição das inscrições */
@media (max-width: 767px){
	.inscricao-header{
		min-height: 50px;
	}

	.float-right{
		display: block;
	}
	.inscricoes{
		padding: 0;
	}

	.inscricao-numero{
		font-size: 10pt;
	}

	.dropdown{
		display: inline-block;
	}
}

@media (min-width: 768px){
	.dropdown{
		display: inline-block;
	}
}


/* 'Ficha' com as informações da inscrição */
.inscricao-info{
	background-color: #E9E1A2;
	padding: 3px 7px;
	height: 100%;
	/*font-weight: bold;*/
}

.inscricao-info p{
	margin: 0;
}

@media (min-width: 768px){
	.inscricao-info{
		border-right: 1px solid #D9D9D9;
	}
}


/* Tabela de documentos enviados / pendentes */
.tabela-documentos{ /* tabela na qual ficam os documentos */
	width: 100%;
	height: 100%;
	background-color: #F0F0F0;
	border-right: 1px solid #D9D9D9;
}

.tabela-documentos th{
	padding: 6px;
	border-bottom: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
	text-align: center;
}

.tabela-documentos td{
	padding: 5px;
	padding-left: 10px;
	border-bottom: 1px solid #D9D9D9;
}

.tabela-documentos .nome-documento{ /* tds que exibem o nome do documento */
	cursor: default;
}

.tabela-documentos .modificacao{ /* tds que exibem data de modificação */
	color: #606060;
	font-style: italic;
	font-size: 10pt;
	text-align: right;
}


.tabela-documentos a{ /* as ancoras de link dos arquivos */
	color: #303030;
	transition: color 0.2s;
}

.tabela-documentos a:hover,
.tabela-documentos a:focus{
	color: #E01B1B;
}

.inscricao-aviso{ /* aviso de data limite para enviar os arquivos */
	background-color: #F5A9A9;
	color: #E01B1B;
	padding: 5px;
}

.inscricao-aviso p{
	margin-bottom: 0px;
}

/*@media(min-width: 560px){
	.tabela-documentos .modificacao span{
		margin-right: -55px;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.tabela-documentos .modificacao span{
		margin-right: -40px;
	}
}*/

@media (max-width: 767px){
	.inscricao-documentos{
		padding: 0;
	}
}

@media (min-width: 768px){
	.inscricao-documentos{
		padding: 0;
		padding-right: 30px;
	}
	
	.inscricao-aviso{
		margin: 0 auto;
		padding-bottom: 0px;
	}
}


/* Upload de arquivos */
.tabela-documentos .upload{ /* td que está com elementos */
	padding: 0!important;
	margin: 0!important;
	text-align: center;
}

.botao-upload{ /* div que é o 'botao' para funcionar no Firefox */
	position: relative;
	padding: 5px;
	margin: 0;
	width: 100%;
	height: 100%;
}

.input-arquivo{ /* botao de upload que está oculto */
	cursor: pointer!important;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}

.img-upload-pdf{ /* imagem de upload pdf que substitui o botão */
	width: 25px;
	padding: 0;
}

.estado-carta {
	font-style: italic;
	font-size: 10pt;
	text-align: right;
}

.estado-carta a:link {
	color: #606060;
}

.estado-carta a:hover {
	color: black;
}

.estado-carta.recomendacao-rejeitada a:link {
	color: darkred;
}

.estado-carta i.fa-exclamation-triangle{
	color: orange;
}

.estado-carta i.fa-check-square-o{
	color: green;
}


.estado-carta i.fa-ban{
	color: red;
}

.estado-carta i.fa-clock-o{
	color: blue;
}

.estado-carta .tooltip-inner, .envia-email-recomendante .tooltip-inner{
	min-width: 250px;
}

.modal-dialog.modal-sm {
	width: 500px;
}

