@charset utf-8;


/*------------------------ Corpo do formulario -----------------------*/
.formulario {
	margin: 0px 10px;
	position: relative;
}

.formulario legend {
	margin-left: -10px;
	margin-top: 25px;
}

fieldset {
	margin-bottom: 0px !important;
}


/*--------------------- Controles do formulario ----------------------*/
.campo-fixo {
	margin-left: 5px;
	color: #B90000;
	background-color: transparent;
	border: 0;
}

textarea {
	color: #B90000 !important;
	padding-left: 3px !important;
}

.identificacao-candidato div {
	margin-bottom: 0px;
}

.painel-inferior {
	text-align: center;
}


/*------------------- Barra de selecao de idiomas --------------------*/
.seletor-idioma {
	float: right;
	position: absolute;
	right: 5px;
}

.seletor-idioma .idioma-inativo {
	filter: contrast(50%);
}


/*------------------------- Avisos e Erros ---------------------------*/
.aviso {
	position: absolute;
	padding-top: 10px;
	padding-bottom: 5px;
	width: 350px;
	right: 10px;
	top: 63px;
}

.aviso-titulo {
	text-align: center;
	font-size: large;
}

.alert-resultado {
	margin: 40px auto;
	padding-top: 10px;
	padding-bottom: 13px;
	width: 540px;
}


/*---------------- Checkboxes & radios com FontAwesome ---------------*/
.checkbox-fa .form-check-input {
	visibility: hidden;
}

.checkbox-fa .form-check-input +i {
	color: #AC3C17;
	margin-left: -1.05em;
	background-color: #AF3C17;
	border: 2px solid #AC3C17;
	border-radius: 2px;
}

.checkbox-fa .form-check-input:checked +i {
	color: white;
}


/*------------------------ Tabela de avaliacao -----------------------*/
#tabela-avaliacao-candidato thead th {
	text-align: center;
}

#tabela-avaliacao-candidato td {
	text-align: center;
}

/* Checkboxes & radios com FontAwesome dentro da tabela */
#tabela-avaliacao-candidato .form-check-input {
	visibility: hidden;
}

#tabela-avaliacao-candidato .form-check-input +i {
	visibility: hidden;
	color: #AC3C17;
	margin-left: -0.7em;
}

#tabela-avaliacao-candidato .form-check-input:checked +i {
	visibility: visible;
}


/*----- Itens com "text" e "checkbox" (ou "label") na mesma linha ----*/
.form-long-text, .form-short-text {
	display: flex;
	white-space:nowrap;
}

.form-short-text input[type="text"] {
	width: 20em;
	margin-left: 5px;
}

.form-long-text input[type="text"] {
	width: 100%;
	margin-left: 5px;
}


/*---------------------- Dados dos recomendantes ---------------------*/
#dados-recomendante input {
	width: 100%
}



#txCandidatoConhecidoAnos {
	width: 3em;
}


/*------------------- Modal de confirmacao inicial -------------------*/
#modal-confirma-preenchimento .modal-dialog {
	width: 50em;
}

#modal-confirma-preenchimento .aviso-rodape {
	float: left;
	color: #9C2C07;
	font-weight: bold;
	font-size: larger;
}

#modal-confirma-preenchimento label i {
	font-weight: normal;
	font-style: normal;
}
