@charset utf-8;
@font-face{
	font-family: 'Helvetica';
	src: url("../fonts/HelveticaNeue-Medium.ttf");
}

body{
	font-family: Helvetica, sans-serif;
	background-color: #5F9EA0;
	font-size: 11pt;
	font-weight: normal!important;
}

#conteudo-principal{
	overflow-x: hidden;
	background-color: #FFF;
	box-shadow: 0px 0px 12px 3px rgba(34, 34, 34, 0.71);
	padding: 5px;
	padding-bottom: 0;
}

h2{
	font-size: 14pt;
	font-weight: 600;
	color: #9C2C07;
	border-bottom: 1px solid #9C2C07;
	text-transform: uppercase;
	padding-bottom: 5px;
}

a:hover, a:focus{
	text-decoration: none;
}


/* Navbar das páginas */
#menu{ /* navbar do menu */
	background-color: #9C2C07;
	color: #FFF;
	border-radius: 0px;
	margin: 0;
	width: 100%;
}

#menu a{
	color: #fff;
	background-color: transparent!important;
}

#menu-logo{
	display: inline;
}

#botao-menu-responsivo{
	margin-right: 0;
}

.icon-bar{
	color: white;
	background-color: white;
}

/* Responsividade Navbar */
@media (max-width: 510px){
	#menu-nome{
		display: none;
	}

	.navbar-brand{
		margin-left: 40%;
	}
}

@media (max-width: 767px){
	#conteudo-principal{
		padding: 0px;
	}

	.navbar-brand{ /* âncora que estão logo e nome do IMECC */ 
		line-height: 30px;
		padding: 5px;
	}

	#menu-logo{
		width: 40px;
		vertical-align: middle;
		padding: 0;
		margin-right: 15px;
	}

	#menu-nome{ /* span do nome do site */
		font-size: 10pt;
		font-weight: 800;
		max-width: 70%;
	}
}

@media (min-width: 768px){
	#menu{
		min-height: 91px;
	}

	.navbar-brand{ /* âncora que estão logo e nome do IMECC */ 
		line-height: 30px;
		padding: 10px;
	}

	#menu-logo{
		width: 80px;
		vertical-align: middle;
		padding: 0;
		margin-right: 15px;
	}

	.navbar-nav > li > a{ /* li da navbar */
		font-size: 10px;
		padding: 0;
	}

	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus{
		text-decoration: underline;
	}


	#menu-nome{ /* span do nome do site */
		font-size: 140%;
		/*font-weight: 800;*/
	}

}

@media (min-width: 768px) and (max-width: 991px){
	#menu-nome{ /* span do nome do site */
		font-size: 100%;
		font-weight: 500;
	}
}


/* Painel */
#painel{
	background-color: #E9E1A2;
	text-align: center;
	font-size: 11pt;
	padding: 9px;
}

#painel p{
	padding: 0;
	margin: 0;
}

/* Botões Padrões */
.bp-1{ /* botão vermelho */
	border-radius: 5px;
	border: 0;
	background-color: #9C2C07;
	color: white;
	font-weight: bold;
	padding: 5px 10px; /* top right bottom left */
	transition: background-color 0.3s;
}

.bp-1:hover{
	background-color: #B90000; /* rgb(242, 9, 35) */
}

.bp-1-clicado, .bp-1:disabled {
	background-color: #ED9FA8;
}

.bp-2{ /* botão verde-água */
	border-radius: 5px;
	border: 0;
	background-color: #18A9AD;
	color: white;
	font-weight: bold;
	padding: 5px 10px; /* top right bottom left */
	transition: background-color 0.3s;
}

.bp-2:hover{
	background-color: #1BC0C4;
}

.bp-2-clicado, .bp-2:disabled {
	background-color: #9DD2D4;
	/*#62C9CC*/
}


.bp-3{ /* botão cinza */
	border-radius: 5px;
	cursor: pointer;
	border: 0;
	background-color: #6A828A; /*849296*/
	color: white;
	font-weight: bold;
	padding: 5px 10px; /* top right bottom left */
	transition: background-color 0.3s;
}

.bp-3:hover{
	background-color: #88A8B3; /* 8FAFBA */
}

.bp-4{ /* botão amarelo */
	border-radius: 5px;
	cursor: pointer;
	color: black!important;
	border: 0;
	background-color: #e9e1a2;
	font-style: normal!important;
	font-weight: normal!important;
	padding: 5px 10px;
	transition: background-color 0.3s;
}

.bp-5{ /* botão verde */
	border-radius: 5px;
    cursor: pointer;
    border: 0;
    background-color: #009241;
    color: white!important;
    font-style: normal!important;
    font-weight: normal;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.bp-5:disabled {
	opacity: 0.7;
	color: #202020!important;
}

/* Padrões de formulários */
.fp-1{ 
	padding: 10px;
}

.fp-div-botao{ /* div criada para centralizar o botão */
	text-align: center;
}

.label-padrao-1{
	font-weight: normal!important;
	color: #B90000;
}

.campos-padrao-1{
	color: #B90000;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #9C2C07;
	margin-bottom: 1px;
}

.campos-padrao-1:focus{
	border-bottom: 2px solid #B90000;
	margin-bottom: 0;
}

.campos-padrao-1[readonly]{
	border-bottom: 1px solid #9C2C07!important;
	font-style: oblique;
}


.label-padrao-2{
	font-weight: normal!important;
	color: #404040;
}

.campos-padrao-2{
	color: #303030;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #606060;
	margin-bottom: 1px;
}

.campos-padrao-2:focus{
	border-bottom: 2px solid black;
	margin-bottom: 0;
}

@media (min-width: 768px){
	.label-padrao-1, .label-padrao-2{
		margin-top: -5px;
	}
}

/* Estilos de fonte */
.b{
	font-weight: 600;
}

.i{
	font-style: italic;
}


/* Float */
.float-right{
	float: right;
}


/* Padrões de Modal */
.modal-header{ /* cabeçalho do modal */
	border-radius: 1px;
	color: #FFFFFF;
}

.erro{
	background: #9C2C07!important;
}

.sucesso{
	background: #009635!important;
}

.duvida{
	background: #06AFB7!important;
}

/*footer*/
footer {
    background-color: #044A6E;
    color: #b4bfc8;
    margin: 5px -5px 0 -5px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-top: 1px solid #E5E5E5;
}

footer div{ /* formatação para todas as divs */
	padding: 3px 15px;
}

footer #secretaria{ /* div com as informações da secretaria */
	font-weight: bold;
}

footer #logo{ /* div que contém o logo */
	text-align: right;
}


footer p{ /* todos os parágrafos */
	color: #fff;
	margin: 0;
}

#maps-icon{
	padding-left: 4px;
}
