@charset utf-8;

/* Div de apresentação do site */
#apresentacao{
	padding: 10px 10px 0 5px; /* top right bottom left */
	font-size: 11.5pt;
}

.img-apresentacao{
	text-align: center;
	padding: 15px;
	background-color: transparent;
}

.img-apresentacao img{
	zoom: 1.4;
}

@media(max-width: 767px){
	.img-apresentacao{
		display: none;
	}

}

/* Formulario para cadastro do email */
#form-acesso{
	width: 100%;
	padding-top: 15px;
}

#label-email{ /* label do campo de email */
	font-size: 13pt;
}

.campos-padrao-1{ /* input do email */
	width: 50%;
}



/* Div com o período de inscrições */
#periodo-inscricoes{ /* div principal */
	position: relative;
	padding-left: 5px;
	padding-right: 10px;
}

.nome-programa td{ /* td com o nome do programa */
	color: #9C2C07;
	font-size: 13.5pt;
	word-break: break-all;
}

table{
	table-layout: fixed;
    word-wrap: break-word;
}


/* Modal Login */
.login-adm-header{ /* cabeçalho do modal */
	background-color: #18A9AD;
	text-align: center;
	font-weight: 600;
}

#login-adm{
	color: #18A9AD;
}

#login-adm input{
	width: 80%;
	border: 0;
	border-bottom: 1px solid #18A9AD;
	color: #18A9AD;
	margin-right: 10%;
}

#solicitar-acesso{ /* botão de solicitar acesso */
	width: 20%;
}

/* Responsividade do Modal de Login */
@media(max-width: 767px){
	#login-adm{
		width: 90%;
		margin: 0 auto;
	}

	#login-adm input{
		width: 100%;
	}

	#div-botao-login-adm{
		text-align: right;
	}

	#solicitar-acesso{ 
		width: 30%;
	}

}

@media(min-width: 768px){
	#login-adm{
		text-align: right;
	}

	#login-adm label{
		margin-top: -5px;
		padding-right: 0;
		margin-right: 0;
	}

	#login-adm input{
		padding-left: 0;
	}

	.col-sm-9{
		text-align: left!important;
	}
}