<script>
	$('#a-como-chegar').click(function(){
		$('como-chegar').modal('show');
	});
</script>
<footer>
	<div class="row">
		<div class="col-sm-4" id="imecc">
			<p>IMECC - UNICAMP
				<a href="#como-chegar" id="a-como-chegar" data-toggle="modal" title="Como chegar">
					<img src="imagens/maps-icon.png" id="maps-icon" title="Como chegar" alt="Mapa - Como chegar"></p>
				</a>

				<span class="modal fade" id="como-chegar" tabindex="-1">
					<span class="modal-body">
						<span class="row">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2526.4265957828543!2d-47.06945830518191!3d-22.81724800147639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x36f1f047f1037b81!2sInstituto+de+Matem%C3%A1tica%2C+Estat%C3%ADstica+e+Computa%C3%A7%C3%A3o+Cient%C3%ADfica!5e0!3m2!1spt-PT!2sbr!4v1469551667059" width="600" height="450" frameborder="0" style="border:0; margin: 0 auto;" allowfullscreen></iframe>
						</span>
					</span>
				</span>

			<p>Rua Sérgio Buarque de Holanda, 651</p>
			<p>13083-859, Campinas, SP, Brasil</p>
		</div>

		<div class="col-sm-4" id="secretaria">
			<p>Secretaria de Pós-Graduação</p>
			<p>posgrad@ime.unicamp.br</p>
			<p>Tel.: (19) 3521-5933</p>
		</div>

		<div class="col-sm-4" id="logo">
			<a href="http://www.unicamp.br/">
				<img src="imagens/logo-unicamp.png" width="55" />
			</a>
		</div>
	</div>
</footer>